* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body {
  background-color: blue;
}

.MainContainer {
  background-color: blue;
}

.colorbox {
  position: absolute;
  right: 70%;
  padding: 3px;
  margin: 0px;
  background: #273138;
}

#red {
  width: 40px;
  height: 40px;
  float: left;
  text-indent: -9999px;
  margin: 5px;
  cursor: pointer;
}

#red {
  background: #e74837;
}

#blue {
  background: #2b8aca;
}

#green {
  background: #28cc6d;
}

#gray {
  background: #364c61;
}

#yellow {
  background: #e9bc0a;
}

#orange {
  background: #df7921;
}

/* NavigationBar Start */
nav {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #273138;
  font-family: "Poppins", sans-serif;
}


.logo img {
  position: relative;
  height: 6vh;
  width: auto;
  transform: scale(1);
  color: #ff9800;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 35px;
}

.nav-links {
  position: absolute;
  transform: scale(1.25);
  right: 20px;
  display: inline-flex;
  width: auto;
  border-radius: 25px;
  border: 1px solid;
  color: grey;
}

.nav-links li {
  position: relative;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #ff9800;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
}

.MainContainer {
  background-color: brown;
  height: 92vh;
  max-height: 92vh;
  min-height: 30vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17vh, 1fr));
  grid-gap: 5rem;
  padding: 10rem;
  margin: 0 auto;
  background: #F5F7FA;
  text-align: center;
  justify-self: center;

}

/* Mobile Responsive */
@media only screen and (max-width: 768px) {
  .MainContainer {
    padding: 4rem;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fill);


  }
}

/* IPad Responsive */
@media (min-width: 772px) and (max-width: 911px) {
  .MainContainer {
    padding: 4rem;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fill);

  }
}


.MainContainer .card {
  --background: #FFFFFF;
  --text: black;
  position: relative;
  height: 10rem;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.05);


}

.MainContainer .card .multi-button {
  z-index: 0;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  border-radius: 100%;
  width: 0rem;
  height: 0rem;
  transform: translate(-50%, -50%);
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);

}

.MainContainer .card .multi-button button {
  display: grid;
  place-items: center;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 100%;
  background: var(--background);
  color: var(--text);
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0rem -0.25rem var(--background);

}

.MainContainer .card .multi-button button:hover {
  background: var(--text);
  color: var(--background);
  box-shadow: 0 0 1rem -0.25rem var(--background);

}


body .card .multi-button button:first-child:nth-last-child(1):nth-child(1),
body .card .multi-button button:first-child:nth-last-child(1)~*:nth-child(1) {
  left: 25%;
  top: 25%;
}

body .card .multi-button button:first-child:nth-last-child(2):nth-child(1),
body .card .multi-button button:first-child:nth-last-child(2)~*:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}

body .card .multi-button button:first-child:nth-last-child(2):nth-child(2),
body .card .multi-button button:first-child:nth-last-child(2)~*:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}

body .card .multi-button button:first-child:nth-last-child(3):nth-child(1),
body .card .multi-button button:first-child:nth-last-child(3)~*:nth-child(1) {
  left: 50%;
  top: 15.625%;
}

body .card .multi-button button:first-child:nth-last-child(3):nth-child(2),
body .card .multi-button button:first-child:nth-last-child(3)~*:nth-child(2) {
  left: 25%;
  top: 25%;
}

body .card .multi-button button:first-child:nth-last-child(3):nth-child(3),
body .card .multi-button button:first-child:nth-last-child(3)~*:nth-child(3) {
  left: 15.625%;
  top: 50%;
}

body .card .multi-button button:first-child:nth-last-child(4):nth-child(1),
body .card .multi-button button:first-child:nth-last-child(4)~*:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}

body .card .multi-button button:first-child:nth-last-child(4):nth-child(2),
body .card .multi-button button:first-child:nth-last-child(4)~*:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}

body .card .multi-button button:first-child:nth-last-child(4):nth-child(3),
body .card .multi-button button:first-child:nth-last-child(4)~*:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}

body .card .multi-button button:first-child:nth-last-child(4):nth-child(4),
body .card .multi-button button:first-child:nth-last-child(4)~*:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}

.MainContainer .card .container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: var(--background);
  color: var(--text);

}

.MainContainer .card:hover .multi-button,
.MainContainer .card .multi-button:focus-within {
  width: 10rem;
  height: 10rem;

}