* {
	margin: 0px;
	padding: 0px;
	font-family: "popins", sans-serif;
	box-sizing: border-box;
}

/* Navigation Bar */
nav {
	background: #273138;
	box-shadow: 0px 1px 15px black;
}

nav::after {
	content: "";
	clear: both;
	display: table;
}

.logo {
	text-align: center;
}

.logo img {
	position: relative;
	float: left;
	width: 60px;
	height: 55px;
	margin-top: 10px;
	margin-left: 50%;
}

nav ul {
	float: right;
	list-style: none;
	margin-right: 75px;
	position: relative;
	isolation: isolate;

}

nav ul li i:hover {
	color: #53bdb9;
}

nav ul li {
	float: left;
	display: inline-block;
	background: #273138;
	margin: 0 5px;
}

nav ul li a {
	color: whitesmoke;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;
	display: list-item;

}

nav ul li a:hover {
	border-radius: 5px;
	color: #53bdb9;
	transform: scale(1.05);

}

nav ul ul li a:hover {
	box-shadow: none;
	background-color: rgb(39, 37, 37);
}

nav ul ul {
	position: absolute;
	top: 30px;
	opacity: 0;
	visibility: hidden;
}

nav ul li:hover>ul {
	top: 85px;
	opacity: 1;
	visibility: visible;
}

nav ul ul li {
	position: relative;
	width: 100px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul ul li a {
	line-height: 50px;
}

nav ul ul ul li {
	position: relative;
	top: -70px;
	left: 150px;
}

.show,
.icon,
input {
	display: none;
}

/* Mobile Responsive */
@media all and (max-width: 768px) {
	nav ul {
		margin-right: 0px;
		float: left;
	}

	nav nav .logo {
		padding-left: 30px;
		width: 100%;
	}

	nav ul li,
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul {
		top: 70px;
		position: static;
		border-top: none;
		float: none;
		display: 1;
		visibility: visible;
	}

	nav ul ul ul li {
		position: static;
	}

	nav ul ul li {
		border-bottom: 0px;
	}

	nav ul ul a {
		padding-left: 80px;
		text-align: center;
	}

	.show {
		display: block;
		color: #f5f7fa;
		font-size: 18px;
		padding: 0 20px;
		line-height: 70px;
		cursor: pointer;
	}

	.show:hover {
		color: #53bdb9;
		background-color: rgb(39, 37, 37);
		background-size: 5px;
	}

	.icon {
		display: block;
		color: #ffffff;
		position: absolute;
		right: 40px;
		line-height: 50px;
		font-size: 25px;
		cursor: pointer;
		top: 10px;
	}

	nav ul li a:hover {
		box-shadow: none;
	}

	.show+a,
	ul {
		display: none;
	}

	[id^="btn"]:checked+ul {
		display: block;
	}
}

/* Colors for theme change */
#red {
	background: #e74837;
}

#blue {
	background: #2b8aca;
}

#green {
	background: #28cc6d;
}

#gray {
	background: #364c61;
}

#yellow {
	background: #e9bc0a;
}

/*Nav bar: End*/
/*Top bar: End*/


/*Left Box: Start*/
#left_container {

	height: 800px;
	background-color: #273138;
	transition: all 400ms linear;



}

#left_container.active {
	left: -140px;


}

#containerAddmainTasks {
	padding-left: 40px;
}

.toggle-btn {
	width: 5px;
	height: 50px;
	background-color: whitesmoke;
	cursor: pointer;

}

.toggle-btn:hover {
	opacity: 50%;


}


/*Task boxes: Start*/
#task_container {

	width: 130px;
	height: 300px;

	overflow: scroll;
	height: 500px;
}

#task_container::-webkit-scrollbar {
	display: none;

}

#miniContainer {

	width: 15px;
	height: 500px;

	visibility: hidden;
	overflow: scroll;
}

#miniContainer::-webkit-scrollbar {
	display: none;
}

.miniBox {

	border: 1px solid black;
	background-color: #A2C76D;
	border-radius: 25%;
}

.miniBox:hover {
	opacity: 50%;
}

#miniContainer.active {
	visibility: visible;
}

#miniAdd {

	width: 10px;
	height: 10px;

	border: 1px solid black;
	border-radius: 25%;
	visibility: hidden;
	background-color: whitesmoke;
}

#miniPlus_icon {
	margin-bottom: 4px;
	width: 10px;
	height: 10px;
}

#miniAdd.active {
	visibility: visible;
}

#miniAdd:hover {
	opacity: 50%;
}

/*Task boxes: End*/



#add_container {
	
	height: 80px;
	width: 80px;
	border: 1px solid gray;
	border-radius: 15%;
	cursor: pointer;
	transform: scale(0.5);
	background-color: whitesmoke;
}

#plus_icon {
	
	height: 80px;
	width: 80px;

}

#add_container:hover {
	opacity: 50%;

}

/*Left Box: End*/



/*Main: Start*/
#main_container {

	width: 100%;
	height: 610px;
	background-color: #A2C76D;
	transition: all 400ms linear;
	z-index: -1;


}

#mainTitle {}

#addTasks {

	visibility: visible;
	transition: all 10ms linear;
	transition-delay: 200ms;



}

#addTasks.active {
	visibility: visible;


}

#addMainTask {

	height: 30px;
	width: 75px;
	background-color: beige;
	z-index: 4;
	border-radius: 20px;
	border: 1px solid black;
	cursor: pointer;
}

#addMainTask:hover {
	opacity: 70%;
}

#addMainTaskText {}

#addMainTask h3 {
	font-size: 15px;
	margin-top: 5px;
	margin-left: 5px;

}

/*Task container: Start*/
#taskContainer {}

#taskContainerArea {
	background-color: #28cc6d;
	height: 500px;
	width: 90%;

	z-index: -1;
	transition: all 400ms linear;
}

#taskContainerArea.active {
	left: 20px;
}

#taskTab.active {
	width: 450px;
}

.taskTabs {
	position: relative;
	display: inline-block;
	height:  500px;
	width: 45px;

	border: 1px solid black;
	margin-top: 3px;
	margin-left: 2px;
	background-color: gray;
	transition: all 600ms linear;
}

.plus {

	border: 1px solid black;
	width: 20px;
	height: 20px;
	background-color: whitesmoke;
	cursor: pointer;
	border-radius: 25%;
}

.plus_icon {
	position: absolute;
	width: 20px;
	height: 20px;
	margin-bottom: 5px;
}

.miniChart {
	position: absolute;
	bottom: 10px;
	left: 7px;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 100%;

}

#miniChart1 {
	transition: all 600ms linear;
}

#miniChart1.active {
	bottom: 30px;
	left: 30px;
	transform: scale(2.5);
	


}

.dropPerson {
	position: absolute;
	right: 10px;
	display: none;
	height: 10px;
	width: 50px;
	
	
}

#dropPerson1.active {
	display: block;
	height: 50px;
	width: 200px;
	bottom: 10px;
	border: 1px solid black;
	border-radius: 15px;
	padding: 5px;
	background-color: #ffffff;
}
.dropPerson .p{
	font-size: 15px;
}




/*Task Container: End*/
#piechart {}

#personList {
	float: right;
	width: 350px;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;

}

.person {

	height: 30px;
	width: 30px;
	border: 1px solid black;
	border-radius: 100%;
}

#personId {

	width: 30;
	height: 30;
	border-radius: 100%;

	border: 1px solid black;
}

#addPerson {

	height: 30px;
	width: 30px;

	border: 1px solid black;
	border-radius: 100%;
	background-color: whitesmoke;
}

#addPluss {
	height: 30px;
	width: 30px;
}


#addPerson:hover {
	opacity: 50%;
}

#descriptionBox {

	width: 70%;
	height: 255px;
	border: 1px solid black;
	float: right;
	background-color: gray;

}

/*Main: End*/

#trash_container {}

#trash {
	width: auto;
	height: 60px;
	float: right;

}

#trash_container:hover {
	visibility: visible;

}

/* kortene på venstre side*/
#task_container .card .multi-button button {
	
	display: grid;
	place-items: center;
	border: none;
	border-radius: 100%;
	background: var(--background);
	color: var(--text);
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
	box-shadow: 0 0 0rem -0.25rem var(--background);
}

#task_container .card .multi-button button:hover {
	background: var(--text);
	color: var(--background);
	box-shadow: 0 0 1rem -0.25rem var(--background);
}

body .card .multi-button button:first-child:nth-last-child(1):nth-child(1),
body .card .multi-button button:first-child:nth-last-child(1)~*:nth-child(1) {
	left: 25%;
	top: 25%;
}

body .card .multi-button button:first-child:nth-last-child(2):nth-child(1),
body .card .multi-button button:first-child:nth-last-child(2)~*:nth-child(1) {
	left: 37.5%;
	top: 18.75%;
}

body .card .multi-button button:first-child:nth-last-child(2):nth-child(2),
body .card .multi-button button:first-child:nth-last-child(2)~*:nth-child(2) {
	left: 18.75%;
	top: 37.5%;
}

body .card .multi-button button:first-child:nth-last-child(3):nth-child(1),
body .card .multi-button button:first-child:nth-last-child(3)~*:nth-child(1) {
	left: 50%;
	top: 15.625%;
}

body .card .multi-button button:first-child:nth-last-child(3):nth-child(2),
body .card .multi-button button:first-child:nth-last-child(3)~*:nth-child(2) {
	left: 25%;
	top: 25%;
}

body .card .multi-button button:first-child:nth-last-child(3):nth-child(3),
body .card .multi-button button:first-child:nth-last-child(3)~*:nth-child(3) {
	left: 15.625%;
	top: 50%;
}

body .card .multi-button button:first-child:nth-last-child(4):nth-child(1),
body .card .multi-button button:first-child:nth-last-child(4)~*:nth-child(1) {
	left: 62.5%;
	top: 18.75%;
}

body .card .multi-button button:first-child:nth-last-child(4):nth-child(2),
body .card .multi-button button:first-child:nth-last-child(4)~*:nth-child(2) {
	left: 37.5%;
	top: 18.75%;
}

body .card .multi-button button:first-child:nth-last-child(4):nth-child(3),
body .card .multi-button button:first-child:nth-last-child(4)~*:nth-child(3) {
	left: 18.75%;
	top: 37.5%;
}

body .card .multi-button button:first-child:nth-last-child(4):nth-child(4),
body .card .multi-button button:first-child:nth-last-child(4)~*:nth-child(4) {
	left: 18.75%;
	top: 62.5%;
}

#task_container .card .container {

	border-radius: 1rem;
	background: var(--background);
	color: var(--text);
}

#task_container .card:hover .multi-button,
#task_container .card .multi-button:focus-within {}